{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<h1>Вы на странице редактирования профиля</h1>

    {{ form_start(form) }}
    {{ form_row(form.picture) }}
    {{ form_end(form) }}
{% endblock %}
